################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab 1 Bit Manip/Lab 1 Bit Manip/.vs/Lab 1 Bit Manip
/Lectures/Lecture 1/.vs/Lecture 1
/Lectures/Lecture 2/.vs/Lecture 2
/Lab 2 - Pointers/.vs/Lab 2 - Pointers
/Lectures/Lecture 3/Lecture 3/.vs/Lecture 3
/Lab 3 - Helper Library/Lab 3 - Helper Library/.vs/Lab 3 - Helper Library
/Lab 4 - Inheritance/Lab 4 - Inheritance/.vs/Lab 4 - Inheritance
/Lectures/Lecture 4/Lecture 4/.vs/Lecture 4
