################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab 1 Bit Manip/Lab 1 Bit Manip/.vs/Lab 1 Bit Manip
/Lectures/Lecture 1/.vs/Lecture 1
/Lectures/Lecture 2/.vs/Lecture 2
/Lab 2 - Pointers/.vs/Lab 2 - Pointers
/Lectures/Lecture 3/Lecture 3/.vs/Lecture 3
/Lab 3 - Helper Library/Lab 3 - Helper Library/.vs/Lab 3 - Helper Library
/Lab 4 - Inheritance/Lab 4 - Inheritance/.vs/Lab 4 - Inheritance
/Lectures/Lecture 4/Lecture 4/.vs/Lecture 4
/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/Lab 4 - Inheritance.exe
/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/Lab 4 - Inheritance.pdb
/Lab 4 - Inheritance/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/Lab 4 - .a0d577e6.tlog/CL.command.1.tlog
/Lab 4 - Inheritance/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/Lab 4 - .a0d577e6.tlog/CL.write.1.tlog
/Lab 4 - Inheritance/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/Lab 4 - .a0d577e6.tlog/CL.read.1.tlog
/Lab 4 - Inheritance/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/Lab 4 - .a0d577e6.tlog/Lab 4 - Inheritance.lastbuildstate
/Lab 4 - Inheritance/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/Lab 4 - .a0d577e6.tlog/link.read.1.tlog
/Lab 4 - Inheritance/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/BaseAccount.obj
/Lab 4 - Inheritance/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/BinaryFile.obj
/Lab 4 - Inheritance/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/CheckingAccount.obj
/Lab 4 - Inheritance/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/Console.obj
/Lab 4 - Inheritance/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/CreditAccount.obj
/Lab 4 - Inheritance/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/Input.obj
/Lab 4 - Inheritance/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/Lab 4 - Inheritance.exe.recipe
/Lab 4 - Inheritance/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/Lab 4 - Inheritance.ilk
/Lab 4 - Inheritance/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/Lab 4 - Inheritance.log
/Lab 4 - Inheritance/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/SavingsAccount.obj
/Lab 4 - Inheritance/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/Lab 4 - Inheritance.obj
/Lab 4 - Inheritance/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/vc143.idb
/Lab 4 - Inheritance/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/vc143.pdb
/Lab 4 - Inheritance/Lab 4 - Inheritance/Lab 4 - Inheritance/x64/Debug/Lab 4 - Inheritance.Build.CppClean.log
*.enc
